cmake
pandas
numpy
scipy
scikit-learn
jupyter
gsl
tzlocal
simplegeneric
natsort
h5py
tqdm
patsy
llvmlite
numba
networkx
joblib
numexpr
seaborn
statsmodels
MulticoreTSNE
anndata
fa2
gprofiler-official
scanpy
rpy2>=3.0.1
git+https://github.com/theislab/anndata2ri